.slide {
  display: flex;
  flex-direction: column;
  padding: 100px 0px;

  .container {
    display: flex;
    justify-content: center;
    .cards {
      width: 1400px;

      .carousel-prev,
      .carousel-next {
        width: 50px;
        height: 50px;
        background-color: rgb(250, 248, 248);
        border: 50%;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
  .header {
    display: flex;
    h1 {
      padding-bottom: 50px;
      padding-left: 11.5%;
      line-height: 15px;
      font-size: 35px;
    }
  }
}
