.trustedBy {
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  height: 100px;
  .container {
    display: flex;
    align-items: center;
    gap: 50px;

    span {
      color: #b5b6ba;
      font-weight: 600;
      font-size: larger;
    }
    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
    }
  }
}
